{% extends "public_layout.html" %}

{% block content %}

<div id="commons-landing-container">
	<div id="commons-landing-content">
		<h2>Stop The Divide</h2>
		<h2>Bring People Back Together</h2>
		<h3 id="commons-landing-cta-message">Join Our Community Of Depolarizers Today!</h3>
		<a class="commons-landing-cta-btn commons-link-btn btn btn-default" href="/users/register">Become a Facilitator</a>
		<!--<a class="commons-landing-cta-btn commons-link-btn transparent btn btn-default" href="#">Learn More</a>-->
	</div>
</div>

{% endblock %}