<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <title>{% block title %}The Commons Project{% endblock %}</title>
</head>

<body>
    <nav id="commons-navbar" class="navbar navbar-full navbar-expand-md desktop">
        <a href="/" class="navbar-brand">
            <img id="commons-nav-logo" src="{% static 'images/logo-300x300.png' %}" />
        </a>
        <h1>The Commons</h1>

    <div id="commons-navbar-items-container" class="collapse navbar-collapse justify-content-end">
       <ul class="nav navbar-nav">
           <li class="dropdown nav-item">
            <a id="commons-user-dropdown" class="dropdown-toggle commons-menu-dropdown-toggle" data-toggle="dropdown" href="#">
            <img id="commons-default-profile-pic" src="{% static 'images/default-profile-pic.png' %}" />
            <span id="commons-user-first-name" class="caret">{{ user.first_name }}</span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">{% if is_admin %} Admin {% else %} Facilitator {% endif %}</h6>  
              <a class="dropdown-item" href="/users/profile">My Profile</a>
              <a class="dropdown-item" href="/users/logout">Log out</a>
            </div>
          </li>
       </ul>
  </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

<footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" ></script>
<script src="{% static 'scripts/projects.js' %}"></script>
<script src="{% static 'scripts/project-details.js' %}"></script>
<script src="{% static 'scripts/audience-manager.js' %}"></script>
<script src="{% static 'scripts/conversations.js' %}"></script>
</footer>
</html>