{% extends "private_layout.html" %}

{% block content %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/projects">Home</a></li>
	  </ol>
	</nav>
{% if success_msg %}
	<h4 id="commons-profile-form-updated-msg">{{success_msg}}</h4>
{% endif %}
<form id="commons-profile-form" class="commons-account-form" method="post">
	<h2>My Profile</h2>
    {% csrf_token %}
    <h5>First Name</h5>
    <input name="first_name" value="{{ user.first_name }}" required />
    <h5>Last Name</h5>
    <input name="last_name" value="{{ user.last_name }}" required />

    <h5>Email</h5>
    <p>{{ user.email }}</p>

    <h5>Are You Available for Intervention Conversations?</h5>
    <label for="commons-available-radio-btn">Yes</label>
    <input id="commons-available-radio-btn" type="radio" name="is_available" value="True"
    {{ profile.is_available|yesno:"checked,unchecked" }} required />

    <label for="commons-unavailable-radio-btn">No</label>
    <input id="commons-unavailable-radio-btn" type="radio" name="is_available" value="False" {{ profile.is_available|yesno:"unchecked,checked" }} required />

    <h5>Daily Available Start Time</h5>
    <input type="time" name="daily_start_time" value="{{ profile.daily_available_start|date:'H:i' }}" required />

    <h5>Daily Available End Time</h5>
    <input type="time" name="daily_end_time" value="{{ profile.daily_available_end|date:'H:i' }}"  required />

    <h5>Time Zone</h5>
    <select name="time_zone" required>
    	{% for timezone in timezones %}

    	  {% ifequal timezone profile.time_zone %}
    	  	 <option value="{{timezone}}" selected>{{timezone}}</option>
    	  {% else %}
    	  	 <option value="{{timezone}}">{{timezone}}</option>
    	  {% endifequal %}
 
    	{% endfor %}
    </select>

 	<br>
 	<br>
    <input id="commons-login-input-submit" class="btn commons-btn" type="submit" value="Save">
</form>
{% endblock %}