{% extends "private_layout.html" %}

{% block content %}
<div class="container">
<div class="d-flex mt-3">
<ul class="commons-tabs nav nav-tabs flex-grow-1 flex-nowrap">
  <li class="nav-item">
    <a class="nav-link active" href="#commons-tab-my-projects" data-toggle="tab">My Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#commons-tab-all-projects" data-toggle="tab">All Projects</a>
  </li>
</ul>

<span class="ml-auto text-nowrap border border-top-0 border-left-0 border-right-0">
 {% if is_admin %}	
 <button class="btn btn-default commons-btn" data-toggle="modal" data-target="#new-project-modal">New Project</button>
 {% endif %}
</span>
</div>

<div class="tab-content commons-tab-content" id="commons-projects-tab-content">
  <div class="tab-pane fade active show" id="commons-tab-my-projects" role="tabpanel" aria-labelledby="nav-home-tab">
  	{% if project_memberships|length > 0 %}
  		<div class="container">
  		{% for membership in project_memberships %}
  		{% if not membership.project.is_deleted %}
	  		<div class="row commons-project-row {% if forloop.last %} last {% endif %}">
	  			<div class="col-sm-4">
	  				<h5>
	  				{% if is_admin %}
  						<a href="/projects/details/{{ membership.project.url_slug }}/dashboard">{{ membership.project.name }}</a>
					{% else %}
						<a href="/projects/details/{{ membership.project.url_slug }}/overview">{{ membership.project.name }}</a>
  					{% endif %}
	  				</h5>
	  				<!--if admin, all project links should go to the project dashboard-->
	  				<!--else go to My Overview -->
	  			</div>
	  			<div class="col-sm-4">
	  				<span>{{ membership.project.short_description }}</span>
	  			</div>
	  			 <div class="col-sm-4">
	  			</div>
	  		</div>
	  	{% endif %}
  		{% endfor %}
  		</div>
  	{% else %}
  		  	<p class="commons-msg-no-projects">You don't have any projects yet.<br>Go to the <strong>All Projects</strong> tab and join a project.</p>
  		  	<!-- <a href="#commons-tab-all-projects" data-toggle="tab">All Projects</a>-->
  	{% endif %}
  </div>
  <div class="tab-pane fade" id="commons-tab-all-projects" role="tabpanel" aria-labelledby="nav-profile-tab">
  	{% if projects|length > 0 %}
  		<div class="container">
  		{% for project in projects %}
  		{% if not project.is_deleted %}
  		<div class="row commons-project-row {% if forloop.last %} last {% endif %}"> <!--need to add class "last" to last row-->
  			<div class="col-sm-4">
  				<h5>
  					{% if is_admin %}
  						<a href="/projects/details/{{ project.url_slug }}/dashboard">{{ project.name }}</a>
					{% else %}
						<a href="/projects/details/{{ project.url_slug }}/overview">{{ project.name }}</a>
  					{% endif %}

  				</h5>
  				<!--if admin, all project links should go to the project dashboard-->
  				<!--else go to My Overview -->
  				
  			</div>
  			<div class="col-sm-4">
  				<span>{{ project.short_description }}</span>
  			</div>
  			 <div class="col-sm-4">
  			 	<button type="button" class="btn btn-default commons-btn-round commons-btn-join-project" data-project-slug="{{ project.url_slug }}" data-requires-twitter="{{ project.is_twitter_required }}">Join</button>
  			</div>
  		</div>
  		{% endif %}
  		{% endfor %}
  	</div>
  	{% else %}
  		{% if is_admin %}
	  	<p id="commons-msg-no-projects-admin">There are no projects yet.<br>Click <strong>New Project</strong> to create a project.</p>
	  	{% else %}
	  	<p class="commons-msg-no-projects">There are no projects yet. Ask an admin to create one.</p>
  		{% endif %}
  	{% endif %}

  </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form id="commons-new-project-form" action='' method='post'>
      		{% csrf_token %}
      <div id="commons-new-audience-header" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="commons-form-group">
       		<h6>Project Name</h6>
       		<input type="text" name="project_name" required/>
       </div>
        <div class="commons-form-group">
       		<h6>Short Description</h6>
       		<textarea name="short_description" required></textarea>
       </div>
       <div class="commons-form-group">
       	   <h6>Start Date</h6>
	       <div class="input-group date" data-provide="datepicker">
				<input type="text" name="start_date" required>
				<div class="input-group-addon">
				<span><i class="fa fa-calendar"></i></span>
			    </div>
	       </div>
	    </div>
	    <div class="commons-form-group">
       	   <h6>End Date</h6>
	       <div class="input-group date" data-provide="datepicker">
				<input type="text" name="end_date" required>
				<div class="input-group-addon">
				<span><i class="fa fa-calendar"></i></span>
			    </div>
	       </div>
	    </div>
 
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="commons-btn-create-audience" type="submit" class="btn">Save Project</button>
      </div>
     </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="twitter-required-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div id="commons-twitter-required-header" class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Twitter Login Required</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      </div>

      <div class="modal-body">

      	<p>Requesting to join this project requires read/write access to 
      	 your Twitter account if you're a Twitter facilitator. Please Log in to Twitter to continue</p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Not a Twitter Facilitator</button>
        <a id="commons-btn-login-twitter" href="{% url 'social:begin' 'twitter' %}" class="btn btn-default commons-btn">Log in with Twitter</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}