<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <title>{% block title %}The Commons Project{% endblock %}</title>
</head>

<body>
    <nav id="commons-navbar" class="navbar navbar-full navbar-expand-md desktop">
        <a href="/" class="navbar-brand">
            <img id="commons-nav-logo" src="{% static 'images/logo-300x300.png' %}" />
        </a>
        <h1>The Commons</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#commons-navbar-items-container">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="commons-navbar-items-container" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li>
              <a class="commons-link-btn btn btn-default" href="/users/login">Log in</a>
            </li>
            <li>
            <a class="commons-link-btn btn btn-default left-space" href="/users/register">Become a Facilitator</a>
           </li>
        </ul>
       </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

<footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>
</html>