/*** begin public layout ***/

#commons-navbar {
	background-color: #8183f5;
	/*background-color: #690f83;*/
}

#commons-nav-logo {
	height: 64px;
	width: 64px;
}

.commons-link-btn {
	background-color: #690f83;
	color: #fff;
}

.commons-link-btn.transparent {
	background-color: transparent;
	border: 2px solid #690f83;
}

.left-space {
	margin-left: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

 #commons-account-action-message-container {
 	margin-top: 20px;
 	margin-left: 20px;
 }

/*** end public layout ***/

/*** begin private layout ***/

a.commons-menu-dropdown-toggle:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    color: #000;
}

#commons-default-profile-pic {
	height: 64px;
	width: 64px;
}

#commons-user-first-name {
	font-size: 18px;
	color: #000;
}

#commons-user-dropdown:hover {
	text-decoration: none;
}

/*** end private layout ***/

/*** begin landing page ***/

#commons-landing-container {
	/*background: url("../images/landing.jpg") no-repeat; */
	background: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .8)),
                     url("../images/landing.jpg");
	background-size: 100%;
	height: 100vh;
	position: relative;
}

#commons-landing-content {
	color: #fff;
	text-align: center;
	position: relative;
	/*margin: 0 auto;*/
	top: 50px;
}

#commons-landing-cta-message {
	margin-top: 50px;
}

.commons-landing-cta-btn {
	display: block;
	width: 250px;
    margin: 0 auto;
    font-size: 22px;
    margin-bottom: 15px;
}

/*** end landing page ***/

/*** begin form layout ***/
	.commons-account-form {
		width: 50%;
		position: relative;
		margin: 0 auto;
		padding: 20px;
		border: 1px solid #dee2e6;
		border-radius: 5px;
		margin-top: 10px;
		background-color: #8183f5;
	}

	.commons-account-form .form-control {
		border-color: #495057
	}

	.commons-account-form .text-muted {
		color: #495057 !important;
	}

	.commons-account-alternative-msg {
		margin-top: 10px;
	}

	.commons-account-alternative-msg a {
		color: #690f83;
	}


/*** end form layout ***/

/*** begin user profile ***/

#commons-profile-form input {
	margin-bottom: 20px;
}

#commons-profile-form input[type="submit"] {
	margin-bottom: 0;
}



#commons-profile-form-updated-msg {
	position: relative;
	text-align: center;
	color: #188038
}

/*** end user profile ***/
	
/*** begin projects page ***/

.commons-tabs {
	margin-top: 10px;
}

.commons-tab-content {
	margin-top: 20px;
}

.commons-msg-no-projects {
	font-size: 18px;
}

.commons-btn-round {
	background-color: #690f83;
	color: #fff;
	border-radius: 20px;
}

.commons-btn-round.light {
	background-color: #8183f5;;
}

.commons-project-row {
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.commons-project-row.last {
	border-bottom: none;
}

.commons-project-row a:hover {
	text-decoration: none;
}

.input-group-addon {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    margin-left: -1px;
}

/*** end projects page ***/

/*** begin project details page sidebar ***/

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-toggle-row {
	border-top: 1px solid #47748b;
	border-bottom: 1px solid #47748b;
}

#commons-sidebar-collapse {
	font-size: 24px;
	border: none;
	background: none;
	color: #fff;
	outline: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}


a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#commons-user-dropdown[aria-expanded="true"] {
	background: transparent;
}

#sidebar ul li.active>a {
	color: #fff;
	background: #5a6ec5
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a.commons-sidebar-dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-toggle-row .fa-angle-double-right {
	display: none;
}

#sidebar.active .sidebar-toggle-row .fa-angle-double-left {
	display: none;
}

#sidebar.active .sidebar-toggle-row .fa-angle-double-right {
	display: block;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header span {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

  /*** mobile ***/

  @media (max-width: 768px) {

  	.commons-account-form {
		width: 90%;
	}

	 .commons-account-form input[type="submit"] {
		width: 100%;
	}

    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        /*margin-left: -80px !important;*/
    }

    #sidebar.active {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Invert the css classes (make active the expanded version)
    	by default the sidebar will be in collapsed state on mobile
    */

    #sidebar .sidebar-toggle-row .fa-angle-double-right {
		display: block;
	}

	#sidebar .sidebar-toggle-row .fa-angle-double-left {
		display: none;
	}

	#sidebar.active .sidebar-toggle-row .fa-angle-double-left {
		display: block;
	}

	#sidebar.active .sidebar-toggle-row .fa-angle-double-right {
		display: none;
	}


    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }

    #sidebar .sidebar-header span {
        display: none;
    }


    #sidebar.active .sidebar-header h3 {
        display: block;
    }
    #sidebar.active .sidebar-header strong {
        display: none;
    }

    #sidebar.active .sidebar-header span {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
        text-align: center;
    }

    #sidebar.active ul li a {
    	text-align: left;
    	font-size: 1.1em;
    	padding: 10px;
	}

    #sidebar ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active ul li a i {
    	display: inline-block;
    	margin-right: 10px;
    	font-size: 1.1em;
	}

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    #sidebar .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

        #sidebar.active .dropdown-toggle::after {
			display: block;
		    position: absolute;
		    top: 50%;
		    right: 20px;
		    transform: translateY(-50%);
    }

    #commons-btn-new-audience {
    	float: none;
    }
}


/*** end project details page sidebar ***/

/*** begin project details page content ***/

#commons-project-content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {

	#commons-project-content {
	    width: 85%;
	}

	#commons-project-content.shrink {
	    width: 65%;
	}
}

@media (max-width: 425px) {

	 #commons-project-content {
	    width: 75%;
	}

	#commons-project-content.shrink {
	    width: 40%;
	}
}

@media (max-width: 375px) {

	.sidebar-toggle-row {
		display: none;
	}
}


/*** end project details page content ***/

/*** begin tools pages ***/
	
	#commons-tool-name {
		color: #333;
	}
/*** end tools pages ***/

/*** begin audience manager - twitter ***/

.commons-font-size-md {
	font-size: 18px;
}

.commons-btn {
	background-color: #690f83;
	color: #fff;
}

#commons-audience-list {
	margin-top: 10px;
}

.commons-icon-btn {
	font-size: 24px;
}

#commons-audience-list {
	overflow-x: scroll;
}

.commons-form-group {
	margin-top: 20px;
}

#commons-new-audience-header, .modal-header { 
	background-color: #8183f5;
	color: #fff;
}

#commons-btn-create-audience {
	background-color: #8183f5;
	color: #fff;
}



/*** end audience manager ***/


/*** begin conversations manager ***/

.commons-conversation-preview {
	background-color: #7386D5;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.commons-conversation-preview.closed {
	background-color: #abb6e5;
}

#commons-conversation-messages-container {
	height: 300px;
	overflow: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;

}

#commons-conversation-response-container {
	display: flex;

}

hr {
	border-top: none;
	border-bottom: 1px solid #dee2e6;
}

textarea.autoExpand {  
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  resize: none;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  box-shadow: 2px 2px 8px rgba(black, .3);
}

#commons-end-conversation-toggle {
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
}

.panel-heading {
  position: relative;
}
.panel-heading[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\2039"; /* SINGLE LEFT-POINTING ANGLE QUOTATION MARK */
  position: absolute;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate icon from < (left arrow) to down arrow */
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
.panel-heading[data-toggle="collapse"].collapsed:after {
  /* rotate icon from < (left arrow) to ^ (up arrow) */
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}

#commons-conversation-note {
	margin-bottom: 20px;
}

#commons-conversation-note, #commons-end-conversation-submit {
	width: 100%;
}

/*** end conversations manager ***/

/*** begin project dashboard ***/

.commons-metric-heading {
	text-decoration: underline;
	color: #333;
}

.commons-metrics-toggle {
	width: 100%;
	text-align: left;
}

.commons-metrics-toggle.inner {
	margin-bottom: 10px;
}

.commons-collapse {
	margin-top: 10px;
}

a.commons-btn.invert[aria-expanded="true"] {
	background: #6d7fcc;
}

a.commons-btn.invert {
    color: #fff;
    background: #690f83;
}

.panel-heading.invert[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\2039"; /* SINGLE LEFT-POINTING ANGLE QUOTATION MARK */
  position: absolute;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  right: 20px;
  top: calc(50% - 10px);

    /* rotate icon from < (left arrow) to down arrow */
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
.panel-heading.invert[data-toggle="collapse"].collapsed:after {

    /* rotate icon from < (left arrow) to ^ (up arrow) */
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}


/*** end proejct dashboard ***/

/*** begin log out ***/

#commons-logout-content {
	margin-left: 10px;
	margin-top: 10px;
}

/*** end log out ***/