{% extends '../public_form_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
<form id="commons-login-form" class="commons-account-form" method="post">
	<h2>Log in</h2>
    {% csrf_token %}
    {{ form|crispy }}
    <input id="commons-login-input-submit" class="btn commons-btn" type="submit" value="Log in">
    <p class="commons-account-alternative-msg">Not a member? <a href="/users/register">Click here</a> to register</p>
    <p class="commons-account-alternative-msg">Trouble logging in? <a href="/users/password_reset"> Reset your password</a></p>
</form>
{% endblock %}