{% extends '../public_form_layout.html' %}

{% block content %}

<div id="commons-logout-content">
	<h3>Logged out</h3>

	<p>You have been logged out. <a href="/users/login">Click here</a> to log back in</p>
</div>

{% endblock %}