{% extends '../public_form_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
<form id="commons-password-reset-form" class="commons-account-form" method="post">
	<h2>Password Reset</h2>
    {% csrf_token %}
    {{ form|crispy }}
    <input id="commons-login-input-submit" class="btn commons-btn" type="submit" value="Send Email">
</form>
{% endblock %}