{% extends '../public_form_layout.html' %}

{% block content %}
<div id="commons-account-action-message-container">
<h3>Password reset complete</h3>

<p>
Your password has been set. You may go ahead and log in now
</p>
<a href="/users/login">Log in</a>
</div>
{% endblock %}