{% extends '../public_form_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
<form id="commons-password-change-form" class="commons-account-form" method="post">
	<h2>Enter New Password</h2>
	<p>Please enter your new password twice so we can verify you typed it in correctly</p>
    {% csrf_token %}
    {{ form|crispy }}
    <input id="commons-change-password-input-submit" class="btn commons-btn" type="submit" value="Change My Password">
</form>
{% endblock %}