{% extends '../public_form_layout.html' %}

{% block content %}
<div>
<p>Your account has been registered. An email containing your account-activation information has been sent.
	<br>
You will be able to log in after activating your account
</p>
</div>
{% endblock %}