{% extends '../public_form_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
<form id="commons-register-form" class="commons-account-form" method="post">
	<h2>Registration</h2>
    {% csrf_token %}
    {{ form|crispy }}
    <input id="commons-register-input-submit" class="btn commons-btn" type="submit" value="Register">
    <p class="commons-account-alternative-msg">Already a member? <a href="/users/login">Click here</a> to log in</p>
</form>
{% endblock %}