{% extends './details.html' %}

{% block project_content %}

	<div class="container">
	  <div class="row">
		<div class="col-sm-9">
			<h4 id="commons-tool-name">Twitter Audiences</h4>
		</div>
		<div class="col-sm-3">
			<button id="commons-btn-new-audience" class="btn commons-btn pull-right" data-toggle="modal" data-target="#commons-new-audience-twitter-modal">New Audience</button>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
  		{% if audiences|length > 0 %}
	  	 <div style="overflow-x: auto">
		  <table id="commons-audience-list" class="table">
			<thead>
			  <tr>
			      <th scope="col">Audience Name</th>
			      <th scope="col">Type</th>
			      <th scope="col">Base Audience</th>
			      <th scope="col">Description</th>
			      <th scope="col">Status</th>
			      <th scope="col">Edit</th>
			      <th scope="col">Download Hashtags</th>
	    	 </tr>
	  		</thead>

	  		<tbody>
	  			{% for audience in audiences %}
	  			<tr>
	  				<td>{{audience.name}}</td>
	  				<td>{{audience.audience_type.name}}</td>
	  				<td>{% if audience.parent != none %} {{audience.parent.name}} {% else %} NA {% endif %}</td>
	  				<td>{{audience.description}}</td>
	  				<td>{% if audience.status.name != none %} {{audience.status.name}} {% else %} NA {% endif %}</td>
	  				<td><button class="btn commons-icon-btn"><i class="fa fa-edit"></i></button></td>
	  				<td>{% if audience.audience_type.name == 'seed' %} <a class="btn commons-btn" href="twitter/download-hashtags?id={{audience.id}}"><i class="fas fa-file-csv"></i></a> {% else %} NA {% endif %}</td>
	  			</tr>	
	  			{% endfor %}
	  		</tbody>
		</table>
	</div>
	{% else %}
		<p class="commons-font-size-md">There are no audiences for this project yet. Click New Audience to create one.</p>
	{% endif %}
  </div>
 </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commons-new-audience-twitter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	 <form id='commons-new-audience-twitter-form' action='' method='post' enctype="multipart/form-data">
      		{% csrf_token %}
      <div id="commons-new-audience-header" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Audience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<div class="commons-form-group">
       		<h6>Audience Name</h6>
       		<input type="text" name="audience_name" required/>
       </div>
        <div class="commons-form-group">
       		<h6>Audience Description</h6>
       		<textarea name="audience_description" required></textarea>
       </div>
       <div class="commons-form-group">
        <h6>Select Audience Type</h6>
        <select id="commons-audience-select" name="audience_type" required>
        	<option value="" disabled selected hidden>Please Choose...</option>
        	{% for type in audience_types %}
        		<option value="{{ type.id }}">{{ type.name }}</option>
        	{% endfor %}
        </select>
       </div>
       <div id="commons-seed-handles-upload-container" class="d-none commons-form-group">
       		<h6>Upload Seed Handles CSV File</h6>
       		<small>(Must include "Username,Score" header)</small>
       		<input type="file" name="csv" />
       </div>
       <div id="commons-base-population-text-container" class="d-none commons-form-group">
       		<h6>Add Base Population Members</h6>
       		<small>(Must include the "Username,Score" header below)</small>
       		<textarea name="base_population">Username,Score</textarea> 
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="commons-btn-create-audience" type="submit" class="btn">Save Audience</button>
      </div>
     </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade {% if show_next_steps_modal %}show-next-steps-modal{% endif %}" id="commons-next-steps-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Next Steps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<h4>Your audience has been created</h4>
      	<p>Getting the seed handle hashtags used over the past 7 days...</p>
      	<p>Getting co-occuring hashtags...</p>
      	<p>Building your audience's base population...</p>
      	<br>
      	<p>We'll email you when each item is ready</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	



{% endblock %}