{% extends './details.html' %}

{% block project_content %}

  <div class="container">
	  <div class="row">
		<div class="col-sm-12">
			<h4 id="commons-tool-name">My Facebook Conversations</h4>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
  		{% if interventions|length > -1 %}
	  	 <div >

	  		<select id="commons-intervention-dropdown" class="form-control">
	  			{% for intervention in interventions %}
	  				<option value={{ intervention.id }}>{{intervention.name}}
	  				</option>
	  			{% endfor %}
	  			<option>Intervention 1</option>
	  		</select>

		</div>


		<ul class="commons-tabs nav nav-tabs flex-grow-1 flex-nowrap">
		  <li class="nav-item">
		    <a class="nav-link active" href="#commons-tab-my-active-conversations" data-toggle="tab"> Active</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#commons-tab-my-closed-conversations" data-toggle="tab">Closed</a>
		  </li>
		</ul>

		<div class="tab-content commons-tab-content commons-conversations-group" id="commons-my-active-conversations-tab-content">
	  		<div class="tab-pane fade active show" id="commons-tab-my-active-conversations" role="tabpanel" aria-labelledby="nav-home-tab">

	  		<div class="commons-conversation-preview active" data-toggle="modal" data-target="#commons-twitter-active-conversation-modal">
	  			<span style="font-style:italic; display:block">(Response Needed)</span>
	  			<strong class="commons-tweet-author">JohnSomebody</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				04 Mar 2019 11:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
			</div>

			<div class="commons-conversation-preview">
	  			<strong class="commons-tweet-author">JaneSomebodyElse</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				03 Mar 2019 9:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
			</div>

	  	</div>


	  	  <div class="tab-pane fade active" id="commons-tab-my-closed-conversations" role="tabpanel" aria-labelledby="nav-home-tab">

	  		<div class="commons-conversation-preview closed">
	  			<strong class="commons-tweet-author">SomebodyElse</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				01 Mar 2019 11:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
	  			<br>
	  			<br>
	  			<strong>Action Taken</strong>
	  			<p>Phone call</p>
		   </div>

	  	</div>




  		</div>



	{% else %}
		<p class="commons-font-size-md">There are no conversations for this project yet.</p>
	{% endif %}
  </div>
 </div>
</div>


{% endblock %}