{% extends './details.html' %}

{% block project_content %}

  <div class="container">
	  <div class="row">
		<div class="col-sm-12">
			<h4 id="commons-tool-name">My Twitter Conversations</h4>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
  		{% if interventions|length > -1 %}
	  	 <div >

	  		<select id="commons-intervention-dropdown" class="form-control">
	  			{% for intervention in interventions %}
	  				<option value={{ intervention.id }}>{{intervention.name}}
	  				</option>
	  			{% endfor %}
	  			<option>Intervention 1</option>
	  		</select>

		</div>


		<ul class="commons-tabs nav nav-tabs flex-grow-1 flex-nowrap">
		  <li class="nav-item">
		    <a class="nav-link active" href="#commons-tab-my-active-conversations" data-toggle="tab"> Active</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#commons-tab-my-closed-conversations" data-toggle="tab">Closed</a>
		  </li>
		</ul>

		<div class="tab-content commons-tab-content commons-conversations-group" id="commons-my-active-conversations-tab-content">
	  		<div class="tab-pane fade active show" id="commons-tab-my-active-conversations" role="tabpanel" aria-labelledby="nav-home-tab">

	  		<div class="commons-conversation-preview active" data-toggle="modal" data-target="#commons-twitter-active-conversation-modal">
	  			<span style="font-style:italic; display:block">(Response Needed)</span>
	  			<strong class="commons-tweet-author">JohnSomebody</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				04 Mar 2019 11:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
			</div>

			<div class="commons-conversation-preview">
	  			<strong class="commons-tweet-author">JaneSomebodyElse</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				03 Mar 2019 9:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
			</div>

	  	</div>


	  	  <div class="tab-pane fade active" id="commons-tab-my-closed-conversations" role="tabpanel" aria-labelledby="nav-home-tab">

	  		<div class="commons-conversation-preview closed">
	  			<strong class="commons-tweet-author">SomebodyElse</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				01 Mar 2019 11:00 AM
	  			</p>
	  			<a style="color:#690f83" href="#">More...</a>
	  			<br>
	  			<br>
	  			<strong>Action Taken</strong>
	  			<p>Phone call</p>
		   </div>

	  	</div>




  		</div>



	{% else %}
		<p class="commons-font-size-md">There are no conversations for this project yet.</p>
	{% endif %}
  </div>
 </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commons-twitter-active-conversation-modal" tabindex="-1" role="dialog" aria-labelledby="commons-twitter-active-conversation-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div id="commons-twitter-required-header" class="modal-header">
          <div>
	        <h5 class="modal-title" id="commons-twitter-active-conversation-modal-label">Conversation with <span id="commons-twitter-active-conversation-author">JohnSomebody</span> </h5>
	        <h5>(Response Needed)</h5>
	     </div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      </div>

      <div class="modal-body">

      		<div id="commons-conversation-messages-container">

   			<div class="commons-conversation-preview active">
	  			<strong class="commons-tweet-author">JohnSomebody</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				04 Mar 2019 11:00 AM
	  			</p>
			</div>

			<div class="commons-conversation-preview active">
	  			<strong class="commons-tweet-facilitator">MyTwitterHandle</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				04 Mar 2019 12:30 PM
	  			</p>
			</div>

			<div class="commons-conversation-preview active">
	  			<strong class="commons-tweet-facilitator">JohnSomebody</strong>
	  			<p class="commons-tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #Lorem #ipsum
	  			</p>
	  			<p class="commons-tweet-created-at">
	  				04 Mar 2019 12:30 PM
	  			</p>
			</div>

		</div>

		<hr>

		<div id="commons-conversation-response-container">

				<textarea class='autoExpand' rows='1' data-min-rows='1'>
					
				</textarea>

				<button class="btn commons-btn"><i class="fa-paper-plane fa"></i></button>

		</div>

		<hr>

		<div>
			<a id="commons-end-conversation-toggle" href="#commons-end-conversation-section" class="panel-heading btn commons-btn commons-metrics-toggle" data-toggle="collapse">End Conversation</a>

			  <div id="commons-end-conversation-section" class="collapse">
			   <form id="commons-end-conversation-form">
			  	<h5>Select the action the candidate took</h5>
			  	<div class="btn-group-vertical">

			  		<div class="form-group">
				  		<input id="commons-candiate-action-1" type="radio" name="candidate_action" value="1" />
				  		<label for="commons-candiate-action-1">Accepted Invite To Online Meeting</label>
			  	   </div>

			  		<div class="form-group">
				  		<input id="commons-candiate-action-2" type="radio" name="candidate_action" value="2" />
				  		<label for="commons-candiate-action-2">Accepted Resources To Take Action</label>
			  	   </div>

			  		<div class="form-group">
				  		<input id="commons-candiate-action-3" type="radio" name="candidate_action" value="3" />
				  		<label for="commons-candiate-action-3">Asked To Stop Contact</label>
			  	   </div>

			  		<div class="form-group">
				  		<input id="commons-candiate-action-4" type="radio" name="candidate_action" value="4" />
				  		<label for="commons-candiate-action-4">Responded Negatively</label>
			  	   </div>

			  		<div class="form-group">
				  		<input id="commons-candiate-action-5" type="radio" name="candidate_action" value="5" />
				  		<label for="commons-candiate-action-5">Stopped Responding</label>
			  	   </div>

				</div>
				<h5>Add an optional note</h5>

				<textarea id="commons-conversation-note" class="autoExpand" name="optional_note">
					
				</textarea>

				<button id="commons-end-conversation-submit" class="btn commons-btn">Confirm</button>

			  </form>
  			</div>

		</div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}