{% extends '../private_layout.html' %}
{% load commons_filters %}

{% block content %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
    	<div class="sidebar-toggle-row text-right">
    		<button id="commons-sidebar-collapse"><i class="fa fa-angle-double-left">
    		</i><i class="fa fa-angle-double-right"></i></button>
    	</div>
        <div class="sidebar-header">
            <h3>{{ project.name }}</h3>
            <span>{{ project.short_description }}</span>
            <strong>{{ project.name|initials }}</strong>
        </div>

        <!-- if admin, show this ul (hide by default) -->
        {% if is_admin %}
        <ul class="list-unstyled components commons-admin">
        	 <li {% ifequal active_tab "dashboard" %}class="active"{% endifequal %}>
            	<a href="/projects/details/{{ project.url_slug }}/dashboard"><i class="fa fa-briefcase"></i>Project Dashboard</a>
            </li>
        	<li>
                <a href="#commons-audiences" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle commons-sidebar-dropdown-toggle">
                    <i class="fa fa-users"></i>
                    Audiences
                </a>
                <ul class="collapse list-unstyled" id="commons-audiences">
                    <li {% ifequal active_tab "audiences_twitter" %}class="active"{% endifequal %}>
                        <a href="/projects/details/{{ project.url_slug }}/audiences/twitter">Twitter</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#commons-interventions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle commons-sidebar-dropdown-toggle">
                    <i class="fa fa-users"></i>
                    Interventions
                </a>
                <ul class="collapse list-unstyled" id="commons-interventions">
                    <li>
                        <a href="/projects/details/{{ project.url_slug }}/interventions/twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="/projects/details/{{ project.url_slug }}/interventions/facebook">Facebook</a>
                    </li>
                </ul>
            </li>

             <li>
                <a href="#commons-reports" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle commons-sidebar-dropdown-toggle">
                    <i class="fa fa-users"></i>
                    Reports
                </a>
                <ul class="collapse list-unstyled" id="commons-reports">
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endif %}

        <ul class="list-unstyled components">
        	 <li {% ifequal active_tab "overview" %}class="active"{% endifequal %}>
                <a href="/projects/details/{{ project.url_slug }}/overview">
                    <i class="fa fa-briefcase"></i>
                    My Overview
                </a>
             </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle commons-sidebar-dropdown-toggle">
                    <i class="fa fa-home"></i>
                    My Conversations
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li {% ifequal active_tab "audiences_twitter" %}class="active"{% endifequal %}>
                        <a href="/projects/details/{{ project.url_slug }}/conversations/twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="/projects/details/{{ project.url_slug }}/conversations/facebook">Facebook</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="commons-project-content">

    	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
		  </ol>
		</nav>

        <div class="container-fluid">
        	{% block project_content %}

        	{% endblock %}
        </div>
    </div>
</div>
{% endblock %}