{% extends './details.html' %}

{% block project_content %}

	<div class="container">
	  <div class="row">
		<div class="col-sm-9">
			<h4 id="commons-tool-name">Twitter Interventions</h4>
		</div>
		<div class="col-sm-3">
			<button id="commons-btn-new-audience" class="btn commons-btn pull-right" data-toggle="modal" data-target="#commons-new-audience-twitter-modal">New Intervention</button>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
  		{% if interventions|length > 0 %}
	  	 <div style="overflow-x: auto">
		  <table id="commons-audience-list" class="table">
			<thead>
			  <tr>
			      <th scope="col">No.</th>
			      <th scope="col">Description</th>
			      <th scope="col">Hypothesis</th>
			      <th scope="col">Validated?</th>
			      <th scope="col">Start</th>
			      <th scope="col">End</th>
			      <th scope="col">Status</th>
			      <th scope="col">Edit</th>
			      <th scope="col">Delete</th>
	    	 </tr>
	  		</thead>

	  		<tbody>
	  			{% for intervention in interventions %}
	  			<tr>
	  				<td>{{ intervention.id }}</td>
	  				<td>{{ intervention.description}}</td>
	  				<td>{{ intervention.hypothesis}}</td>
	  				<td>{{ intervention.is_hypothesis_validated }}</td>
	  				<td>{{ intervention.start_time }}</td>
	  				<td>{{ intervention.end_time }}</td>
	  				<td>{% if intervention.status.name != none %} {{intervention.status.name}} {% else %} NA {% endif %}</td>
	  				<td><button class="btn commons-icon-btn"><i class="fa fa-edit"></i></button></td>
	  				<td><button class="btn commons-icon-btn"><i class="fa fa-trash"></i></button></td>
	  			</tr>
	  			{% endfor %}
	  		</tbody>
		</table>
	</div>
	{% else %}
		<p class="commons-font-size-md">There are no Twitter interventions for this project yet. Click New Intervention to create one.</p>
	{% endif %}
  </div>
 </div>
</div>


<!-- Modal -->
<div class="modal fade" id="commons-new-audience-twitter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	 <form id='commons-new-intervention-twitter-form' action='' method='post' enctype="multipart/form-data">
      		{% csrf_token %}
      <div id="commons-new-audience-header" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Intervention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="commons-form-group">
       		<h6>Description</h6>
       		<textarea name="intervention_description" required></textarea>
       </div>
        <div class="commons-form-group">
       		<h6>Hypothesis</h6>
       		<textarea name="intervention_hypothesis" required></textarea>
       </div>
       <div class="commons-form-group">
        <h6>Select Base Population</h6>
        <select id="commons-audience-select" name="audience_id" required>
        	<option value="" disabled selected hidden>Please Choose...</option>
        	{% for audience in audiences %}
        		<option value="{{ audience.id }}">{{ audience.name }}</option>
        	{% endfor %}
        </select>
       </div>
       <div class="commons-form-group">
       		<h6>Start Date</h6>
   			<input type="date" name="start_date" />
       </div>
       <div class="commons-form-group">
       		<h6>End Date</h6>
       		<input type="date" name="end_date" />
       </div>
       <div class="commons-form-group">
       		<h6>Upload Intervention Hashtags CSV File</h6>
       		<small>(Must include "#,A,B,C" header)</small>
       		<input type="file" name="csv" />
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="commons-btn-create-audience" type="submit" class="btn">Save Intervention</button>
      </div>
     </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade {% if show_next_steps_modal %}show-next-steps-modal{% endif %}" id="commons-next-steps-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Next Steps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<h4>Your intervetnion has been created and will begin running on the scheduled start date</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}