{% extends './details.html' %}

{% block project_content %}

  <div class="container">
	  <div class="row">
		<div class="col-sm-12">
			<h4 id="commons-tool-name">My Overview</h4>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
  		{% if interventions|length > -1 %}
	  	 <div >

	  		<select id="commons-intervention-dropdown" class="form-control">
	  			{% for intervention in interventions %}
	  				<option value={{ intervention.id }}>{{intervention.name}}
	  				</option>
	  			{% endfor %}
	  			<option>Intervention 1</option>
	  		</select>

		</div>


		<ul class="commons-tabs nav nav-tabs flex-grow-1 flex-nowrap">
		  <li class="nav-item">
		    <a class="nav-link active" href="#commons-tab-twitter-metrics" data-toggle="tab">Twitter</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#commons-tab-facebook-metrics" data-toggle="tab">Facebook</a>
		  </li>
		</ul>

		<div class="tab-content commons-tab-content commons-metrics-group" id="commons-metrics-tab-content">
	  	 <div class="tab-pane fade active show" id="commons-tab-twitter-metrics" role="tabpanel" aria-labelledby="nav-home-tab">

	  	 	<div class="commons-project-overall-metrics">

	  	 	 <a id="commons-project-twitter-metrics-toggle" href="#commons-project-twitter-metrics-section" class="panel-heading btn commons-btn commons-metrics-toggle invert" data-toggle="collapse" aria-expanded="true" >My Project Metrics</a>

			  <div id="commons-project-twitter-metrics-section" class="commons-collapse collapse show">

	  	 		<h6 class="commons-metric-heading">Total No. of Intervention Tweets Sent From My Account</h6>
	  	 		<p>100</p>

	  	 		<h6 class="commons-metric-heading">% Responses to Intervention Tweets</h6>
	  	 		<p>12%</p>

	  	 		<h6 class="commons-metric-heading">% Intervention Tweets that Resulted in Positive Action</h6>
	  	 		<p>2%</p>

	  	 		<h6 class="commons-metric-heading">Intervention Tweets Actions Breakdown</h6>
	  	 		
	  	 		<ul>
	  	 		<li>Accepted Invite To Online Meeting: <span>1%</span></li>

	  	 		<li>Accepted Resources To Take Action: <span>1%</span></li>

	  	 		<li>Asked To Stop Contact: <span>3%</span></li>

	  	 		<li>Responded Negatively: <span>3%</span></li>

	  	 		<li>Stopped Responding: <span>92%</span></li>
	  	 	   </ul>

	  	 	    <!--<a id="commons-project-twitter-most-effective-tweets-toggle" href="#commons-project-twitter-most-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Most Effective Tweets</a>

	  	 	    <div id="commons-project-twitter-most-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">100</span> Responses</strong>
	  			<p class="commons-tweet-text">Why is it difficult to find common ground on # ?
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">72</span> Responses</strong>
	  			<p class="commons-tweet-text">Why are we so divided on # ? @ how has your family been affected by # ?
	  			</p>
			</div>

  	 	    </div>

  	 	    <a id="commons-project-twitter-least-effective-tweets-toggle" href="#commons-project-twitter-least-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Least Effective Tweets</a>

	  	 	    <div id="commons-project-twitter-least-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">2</span> Responses</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Tweet #
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">1</span> Response</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Dolor @ ? #
	  			</p>
			</div>

  	 	    </div>-->



  	 	     </div>

  	 		</div>

  	 		<hr>

	  	 	<div class="commons-project-intervention-metrics">
	  	 	 <a id="commons-intervention-twitter-metrics-toggle" href="#commons-intervention-twitter-metrics-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle" data-toggle="collapse">My Intervention Metrics</a>

			  <div id="commons-intervention-twitter-metrics-section" class="commons-collapse collapse">

			  	<p class="commons-metrics-intervention-name">Intervention 1</p>

	  	 		<h6 class="commons-metric-heading">Total No. of Intervention Tweets Sent from My Account</h6>
	  	 		<p>30</p>

	  	 		<h6 class="commons-metric-heading">% Responses to Intervention Tweets</h6>
	  	 		<p>9%</p>

	  	 		<h6 class="commons-metric-heading">% Intervention Tweets that Resulted in Positive Action</h6>
	  	 		<p>4%</p>

	  	 		<h6 class="commons-metric-heading">Intervention Tweets Actions Breakdown</h6>
	  	 		
	  	 		<ul>
	  	 		<li>Accepted Invite To Online Meeting: <span>2%</span></li>

	  	 		<li>Accepted Resources To Take Action: <span>2%</span></li>

	  	 		<li>Asked To Stop Contact: <span>3%</span></li>

	  	 		<li>Responded Negatively: <span>3%</span></li>

	  	 		<li>Stopped Responding: <span>88%</span></li>
	  	 	   </ul>


	  	 	   	<h6 class="commons-metric-heading">Initial Candidates Avg. Ideology Score</h6>
	  	 		<p>4.5</p>

	  	 		<h6 class="commons-metric-heading">Final Candidates Avg. Ideology Score</h6>
	  	 		<p>Intervention still running</p>

	  	 	    <!--<a id="commons-project-twitter-most-effective-tweets-toggle" href="#commons-project-twitter-most-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Most Effective Tweets</a>

	  	 	    <div id="commons-project-twitter-most-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">25</span> Responses</strong>
	  			<p class="commons-tweet-text">Why is it difficult to find common ground on # ?
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">19</span> Responses</strong>
	  			<p class="commons-tweet-text">Why are we so divided on # ? @ how has your family been affected by # ?
	  			</p>
			</div>

  	 	    </div>

  	 	    <a id="commons-project-twitter-least-effective-tweets-toggle" href="#commons-project-twitter-least-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Least Effective Tweets</a>

	  	 	    <div id="commons-project-twitter-least-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">2</span> Responses</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Tweet #
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">1</span> Response</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Dolor @ ? #
	  			</p>
			</div>

  	 	    </div>-->



  	 	     </div>

  	 		</div>

	  	</div>


	  	<div class="tab-pane fade active" id="commons-tab-facebook-metrics" role="tabpanel" aria-labelledby="nav-home-tab">

	  		  	 	<div class="commons-project-overall-metrics">

	  	 	 <a id="commons-project-facebook-metrics-toggle" href="#commons-project-facebook-metrics-section" class="panel-heading btn commons-btn commons-metrics-toggle invert" data-toggle="collapse" aria-expanded="true">Project Metrics</a>

			  <div id="commons-project-facebook-metrics-section" class="commons-collapse collapse show">

	  	 		<h6 class="commons-metric-heading">Total No. of Intervention Ads Published</h6>
	  	 		<p>350</p>

	  	 		<h6 class="commons-metric-heading">Total No. of Comments on Ads</h6>
	  	 		<p>1000</p>

	  	 		<h6 class="commons-metric-heading">Comments as % of Target Population</h6>
	  	 		<p>150%</p>

	  	 		<h6 class="commons-metric-heading">% Comments That Resulted in Action</h6>
	  	 		<p>5%</p>

	  	 		<h6 class="commons-metric-heading">Intervention Comments Actions Breakdown</h6>
	  	 		
	  	 		<ul>
	  	 		<li>Accepted Invite To Online Meeting: <span>1%</span></li>

	  	 		<li>Accepted Resources To Take Action: <span>1%</span></li>

	  	 		<li>Asked To Stop Contact: <span>3%</span></li>

	  	 		<li>Responded Negatively: <span>3%</span></li>

	  	 		<li>Stopped Responding: <span>92%</span></li>
	  	 	   </ul>

	  	 	    <!--<a id="commons-project-facebook-most-effective-comments-toggle" href="#commons-project-facebook-most-effective-ads-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Most Effective Ads</a>

	  	 	    <div id="commons-project-facebook-most-effective-ads-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
  	 	    	<strong>Target Audience Ideology Score: <span class="commons-fb-target-ideology-score">2</span></strong>
  	 	    	<br>
	  			<strong><span class="commons-fb-ad-num-responses">150</span> Responses</strong>
	  			<p class="commons-fb-ad-name">Ad Name</p>
	  			<p class="commons-fb-ad-text">Some fb ad content
	  			</p>
			</div>

			<div class="commons-conversation-preview">
				<strong>Target Audience Ideology Score: <span class="commons-fb-target-ideology-score">4.1</span></strong>
				<br>
	  			<strong><span class="commons-fb-ad-num-responses">75</span> Responses</strong>
	  			<p class="commons-fb-ad-name">Ad Name</p>
	  			<p class="commons-fb-ad-text">Some other fb ad content
	  			</p>
			</div>

  	 	    </div>

  	 	    <a id="commons-project-twitter-least-effective-tweets-toggle" href="#commons-project-twitter-least-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Least Effective Ads</a>

	  	 	    <div id="commons-project-twitter-least-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-fb-ad-num-responses">3</span> Responses</strong>
	  			<p class="commons-fb-ad-text">Lorem Ipsum FB ad
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-fb-ad-num-responses">1</span> Response</strong>
	  			<p class="commons-fb-ad-text">Lorem Ipsum Dolor FB ad
	  			</p>
			</div>

  	 	    </div>-->



  	 	     </div>

  	 		</div>

  	 		<hr>

	  	 	<div class="commons-project-intervention-metrics">
	  	 	 <a id="commons-intervention-facebook-metrics-toggle" href="#commons-intervention-facebook-metrics-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle" data-toggle="collapse">Intervention Metrics</a>

	  	 	 <div id="commons-intervention-facebook-metrics-section" class="commons-collapse collapse">

			  	<h6 class="commons-metric-heading">Total No. of Intervention Ads Published</h6>
	  	 		<p>350</p>

	  	 		<h6 class="commons-metric-heading">Total No. of Comments on Ads</h6>
	  	 		<p>1000</p>

	  	 		<h6 class="commons-metric-heading">Comments as % of Target Population</h6>
	  	 		<p>150%</p>

	  	 		<h6 class="commons-metric-heading">% Comments That Resulted in Action</h6>
	  	 		<p>5%</p>

	  	 		<h6 class="commons-metric-heading">Intervention Comments Actions Breakdown</h6>
	  	 		
	  	 		<ul>
	  	 		<li>Accepted Invite To Online Meeting: <span>1%</span></li>

	  	 		<li>Accepted Resources To Take Action: <span>1%</span></li>

	  	 		<li>Asked To Stop Contact: <span>3%</span></li>

	  	 		<li>Responded Negatively: <span>3%</span></li>

	  	 		<li>Stopped Responding: <span>92%</span></li>
	  	 	   </ul>

	  	 	    <!--<a id="commons-project-twitter-most-effective-tweets-toggle" href="#commons-project-twitter-most-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Most Effective Ads</a>

	  	 	    <div id="commons-project-twitter-most-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">25</span> Responses</strong>
	  			<p class="commons-tweet-text">Why is it difficult to find common ground on # ?
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">19</span> Responses</strong>
	  			<p class="commons-tweet-text">Why are we so divided on # ? @ how has your family been affected by # ?
	  			</p>
			</div>

  	 	    </div>

  	 	    <a id="commons-project-twitter-least-effective-tweets-toggle" href="#commons-project-twitter-least-effective-tweets-section" class="panel-heading btn commons-btn collapsed commons-metrics-toggle inner" data-toggle="collapse">Least Effective Ads</a>

	  	 	    <div id="commons-project-twitter-least-effective-tweets-section" class="collapse commons-conversations-group commons-collapse">

	  	 	    <div class="commons-conversation-preview active">
	  			<strong><span class="commons-tweet-num-responses">2</span> Responses</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Tweet #
	  			</p>
			</div>

			<div class="commons-conversation-preview">
	  			<strong><span class="commons-tweet-num-responses">1</span> Response</strong>
	  			<p class="commons-tweet-text">Lorem Ipsum Dolor @ ? #
	  			</p>
			</div>

  	 	    </div>-->



  	 	     </div>

  	 		</div>

	  	</div>


	  </div>

  		</div>



	{% else %}
		<p class="commons-font-size-md">There are no conversations for this project yet.</p>
	{% endif %}
  </div>
 </div>
</div>

{% endblock %}